/* ---------------------- */
/* Fonts                  */
/* ---------------------- */

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* ---------------------- */
/* Custom properties      */
/* ---------------------- */

:root {
  --clr-blue-light: #3e4560;
  --clr-blue-very-dark: #1f2937;
  --clr-yellow-light: #d6d5ac;
  --clr-grey-light: #8a8a8a;
  /* --clr-bright-blue: #2196f3; */

  --ff-main: "Lato", sans-serif;
}

/* ---------------------- */
/* Reset                  */
/* ---------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

h1 {
  letter-spacing: 1px;
}

/* Make image easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

hr {
  height: 2px;
  background-color: var(--clr-grey-light);
  margin-block: 1em;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------------- */
/* Typography             */
/* ---------------------- */

main {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--clr-blue-very-dark);
}

footer {
  padding: 2em;
}

/* ---------------------- */
/* Utility classes        */
/* ---------------------- */

/* shadows */
.shadow-short {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  transition: all 250ms;
}

.shadow-longer {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
}

.shadow-inner {
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.07);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.07);
}

/* Underline animation classes */

.underline-animation {
  position: relative;
  text-decoration: none;
}

.underline-animation:hover,
.underline-animation:focus {
  color: black;
}

.underline-animation::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: black;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.underline-animation:hover::before,
.underline-animation:focus::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* ---------------------- */
/* Buttons                */
/* ---------------------- */

#resetBtn {
  background-color: #fff;
  color: var(--clr-blue-very-dark);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  cursor: pointer;
  width: fit-content;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 250ms;
}

#resetBtn:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

/* ---------------------- */
/* Components             */
/* ---------------------- */

.container {
  font-family: var(--ff-main);
  background-color: var(--clr-blue-light);
  color: #fff;
  padding: 1em 2em;
  border-radius: 0.5em;
  width: min(90%, 27rem);
  margin: 2em;
}

.input {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1em;
  border-radius: 0.5em;
}

.title {
  margin: 1em 0;
  font-weight: 800;
  text-align: center;
}

.dark-text {
  color: var(--clr-blue-very-dark);
}

.rainbowColors {
  color: #fff;
  text-shadow: -0.04em 0.04em #ef3550, -0.08em 0.08em #f48fb1,
    -0.12em 0.12em #7e57c2, -0.16em 0.16em #2196f3, -0.2em 0.2em #26c6da,
    -0.24em 0.24em #43a047, -0.28em 0.28em #eeff41, -0.32em 0.32em #f9a825,
    -0.36em 0.36em #ff5722;
}

.subTitle {
  margin-top: 0.5em;
  padding-bottom: 1em;
  text-align: center;
  color: #fff;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

input {
  margin-bottom: 1em;
}

input[type="text"] {
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
}

.box {
  height: max(100px, 10em);
  width: 100%;
  background-color: var(--clr-yellow-light);
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.text-color {
  display: inline-block;
  margin-bottom: 0.5em;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-weight: 600;
  letter-spacing: 1px;
}

.toggle {
  display: flex;
  align-items: center;
  /* marging-bottom:1em; */
  margin-bottom: 0.5em;
}

.toggle-text {
  margin-bottom: 0;
}

.toggle-btn {
  /* height: 40px;  */
  width: 70px;
  background-color: var(--clr-grey-light);
  border-radius: 30px;
  padding: 5px;
  margin: 0 10px;
}

.inner-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  /* border: 1px solid #000; */
  transition: all 250ms;
}

/* If element with class .toggle-btn has even .toggled as class, selects siblings with .inner-circle class */
.toggle-btn.toggled > .inner-circle {
  transform: translateX(30px);
  background-color: var(--clr-blue-very-dark);
}

.unselected {
  opacity: 0.25;
}

/* footer */

.attribution {
  font-size: 11px;
  text-align: center;
  color: #fff;
}

.attribution a {
  font-family: var(--ff-main);
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}

/* ---------------------- */
/* Media queries          */
/* ---------------------- */

/* @media (min-width: 520px) {
  
} */
